/* General Styling */
.resume-template-section {
    padding: 2rem 0;
  }
  
  .template-gallery {
    position: relative;
  }
  
  .template-card {
    margin: 10px; /* Default margin */
  }
  
  .show-more {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .show-more:hover {
    background-color: #e68a00;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .show-more:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .custom-use-template-button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-use-template-button:hover {
    background-color: #0056b3;
  }
  
  .custom-use-template-button:focus {
    outline: none;
  }
  
  .custom-use-template-button:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  
  @media (max-width: 576px) {
    .cover-template-card {
        width: 90vw !important;
    }
}