.format-letters-container {
    padding: 20px;
  }
  
  .card-square {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Smooth transform animation */
    width: 150px; /* Fixed width for each card */
    height: 240px; /* Fixed height for each card */
    display: inline-block; /* Ensures all cards stay in one row */
  }
  
  .card-square:hover {
    transform: translateY(-5px); /* Move card up slightly on hover */
  }
  
  .img-square {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    object-fit: cover;
    margin-bottom: 0px;
    border-radius: 50%; /* Rounded shape */
    border: 2px solid #007bff; /* Blue border */
    transition: border-color 0.3s ease-in-out; /* Smooth border color change */
  }
  
  .img-square:hover {
    border-color: #ffc107; /* Yellow border on hover */
  }
  
  h5 {
    margin-top: 10px;
    font-size: 1rem;
    color: #343a40; /* Dark text color */
  }
  
  p {
    font-size: 0.875rem;
    color: #6c757d; /* Light text color */
  }
  

  @media (max-width: 575px) {
 
    card-square {
      width: 0;
      height: 240px;
      
  }
   
  }