.points-section {
  padding: 70px; /* Reduced padding */
/* Light background color */
}

.point-container {
/* White background for the content */
  border-radius: 8px; /* Rounded corners */
  padding: 15px; /* Reduced padding around the content */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Reduced shadow for depth */
  transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.point-container:hover {
  transform: translateY(-3px); /* Slight lift effect on hover */
}

.point-content {
  margin-bottom: 15px; /* Reduced space between each point */
}

.point-content h4 {
  color: #007bff; /* Bootstrap primary color for headings */
}

.point-image {
  width: 100%; /* Make image responsive */
  max-width: 450px; /* Set maximum width for image */
  height: 400px; /* Maintain aspect ratio */
  object-fit: cover;
  border-radius: 8px; /* Rounded corners for the image */
}

@media (min-width: 768px) {
  .point-content {
    height: 100%; /* Ensures equal height for content on large screens */
  }
}

@media (max-width: 768px) {
  .point-image {
    display: none; /* Hide image on small screens */
  }
  
  .point-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }
  .points-section {
    padding: 5px; /* Reduced padding */
  /* Light background color */
  }
}
