.letter-container {
  background: linear-gradient(135deg, #f3f4f6, #f3f3f6);
  padding: 60px 20px;
  border-radius: 12px;
  max-width: 1200px;
  margin: auto;
  color: #fff;
  text-align: center;

}

.ProcessHeading h2 {
  font-size: 2.8rem;
  color: #d32f2f;

}

.ProcessHeading h2 span {
  color: #f1c40f;
}

.subtitle {
  color: #c7c7c7;
  font-size: 1.1rem;
  margin-bottom: 40px;
  font-family: 'Arial', sans-serif;
}

.letter-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.category {
  background: linear-gradient(135deg, #444, #666);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  color: #f1f1f1;
  text-align: left;
}

.category:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #d32f2f, #a82828);
  color: #fff;
}

.category h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #f1c40f;
}

.category p {
  font-size: 1rem;
  line-height: 1.6;
}

.category::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background-color: #d32f2f;
  border-radius: 8px 0 0 8px;
}

.category:hover::before {
  background-color: #f1c40f;
}

@media (max-width: 768px) {
  .ProcessHeading h2 {
    font-size: 2rem;
  }

  .category {
    text-align: center;
  }

  .category h2 {
    font-size: 1.4rem;
  }
}

@media (hover: hover) {
  .category:hover .category h2 {
    color: #fff;
  }

  .category:hover p {
    color: #f1f1f1;
  }
}
