
.SearchCategory{
    background-color: blue;

    margin-left: 5%;
    margin-right: 20%;
}


.LetterMakerSection{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.GenLetterSection{
    background-color: rgb(212, 244, 244);
    padding: 2%;
}



