/* General Styling */
.resume-template-section {
  padding: 2rem 0;
}

.template-gallery {
  position: relative;
}

.template-card {
  margin: 10px; /* Default margin */
}

.show-more {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.show-more:hover {
  background-color: #e68a00;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.show-more:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.custom-use-template-button {
  background-color: #ff6600;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-use-template-button:hover {
  background-color: #0056b3;
}

.custom-use-template-button:focus {
  outline: none;
}

.custom-use-template-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* Small screens: Adjust cards to fit well, smaller size, and appropriate spacing */
@media (max-width: 767px) {
  .template-gallery {
    display: flex;
    flex-wrap: wrap;
  }

 .template-column {
    flex: 0 0 33.33%; 
    max-width: 33.33%;
    padding: 5px;
  } 

  .second-template-card {
    margin: 5px; 
    height: auto;
    width: 100%; 
    transition: transform 0.2s ease-in-out;
  }

 .second-template-card:hover {
    transform: scale(1.05);
  }

  .template-image-container {
    width: 100%;
    padding-bottom: 100%; 
    position: relative;
  }

  .template-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; 
  }

  .template-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .template-card:hover .template-overlay {
    opacity: 1;
  }
}


@media (min-width: 768px) {
  .template-gallery {
    display: flex;
    flex-wrap: wrap;
  }

  .template-column {
    margin-bottom: 30px;
  }

  .second-template-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }

  .second-template-card:hover {
    transform: scale(1.05);
  }

  .template-image-container {
    position: relative;
  }

  .template-image {
    width: 100%;
    height: auto;
  }

  .template-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

  .second-temp {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .second-template-card:hover .template-overlay {
    opacity: 1;
  } 
}