/* General styles */
.importance-section {
  margin-bottom: 2rem;
  padding-left: 4%;
  padding-top: 3%; /* Add space between sections */
}

/* Styling the images with border-radius for a cylindrical effect */
.importance-image img {
  width: 70%;
  height: 250px;
  display: block;
  border-radius: 25%; /* Circular shape */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation on hover */
  object-fit: cover; /* Ensures the image covers the entire area */
}

/* Hover effect for images */
.importance-image img:hover {
  transform: scale(1.05); /* Slightly scale up the image */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

/* Layout order for left and right sections */
.section-left .importance-image {
  order: 1;
}

.section-left .importance-content {
  order: 2;
}

.section-right .importance-image {
  order: 2;
}

.section-right .importance-content {
  order: 1;
}

/* Content styling */
.importance-content h2 {
  font-size: 1.75rem;
  color: wheat; /* Title color */
  margin-bottom: 1rem;
}

.importance-content ul {
  padding-left: 1.5rem;
}

.importance-content ul li {
  margin-bottom: 0.5rem;
  color: white; /* List item color */
}

/* Responsive adjustments for mobile screens */
@media (max-width: 767px) {
  .importance-image, .importance-content {
      order: initial !important;
  }
  
}

@media (min-width: 767px){
  .importance-image img {
    width: 100%;
  }
}
